<div class="container mt-4">
  <div class="card mb-4" *ngIf="tamamlandi">
    <div class="card-body">
      Tebrikler yarışmayı {{ puan }} puan ile tamamladınız!
    </div>
  </div>
  <div class="card" *ngIf="!mevcutSoru; else mevcutSoruYoksa">
    <div class="card-header">
      <h5 class="mb-0">Kelime Oyunu Yarışmasına Hoşgeldiniz!</h5>
    </div>
    <div class="card-body">
      Yarışmaya başlamak için yarışmaya başla butonuna basın.
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="basla()">Yarışmaya Başla</button>
    </div>
  </div>
  <ng-template #mevcutSoruYoksa>
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">{{ mevcutSoru.soru }}</h3>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <harf
            [deger]="harf.harf"
            [acik]="harf.acildi"
            *ngFor="let harf of harfler"
          ></harf>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex">
          <div class="mr-4">Toplam Puan: {{ puan }}</div>
          <div class="mr-4">
            Kalan Süreniz:
            <kbd>{{ kalanSure }}</kbd> saniye
          </div>
          <div>Harf Puanı: {{ harfPuan }}</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            placeholder="Cevabınızı yazın"
            [(ngModel)]="yarismaciCevap"
            (keypress)="enterIleCevapVer($event)"
            (keyup)="yarismaciCevap = yarismaciCevap.toLocaleUpperCase('tr')"
          />
          <div class="input-group-append">
            <button class="btn btn-secondary" (click)="harfVer()">
              Harf Ver
            </button>
            <button (click)="cevapVer()" class="btn btn-success">
              Cevap Ver
            </button>
          </div>
        </div>
      </div>
      <div class="card-footer" [ngClass]="mesajClass" *ngIf="mesaj">
        {{ mesaj }}
      </div>
    </div>
  </ng-template>
</div>
